{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block logo %}{{title_logo}}{% endblock logo %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  {% endblock Responsive_behaviors %}

  {% block form %}

  {#Форма сохранения номеров деталей#}

  {{ form_start(form_search_sales) }}
  <div class="container-fluid text-center mt-3">
    <div class="row">

      <div class="col-lg-12 col-xl-7 col-xxl-7">
        <div class="row">

          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="lb">{{ form_label(form_search_sales.part_number) }}</div>
            {{ form_widget(form_search_sales.part_number, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.part_number) |nl2br }}
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="lb">{{ form_label(form_search_sales.original_number) }}</div>
            {{ form_widget(form_search_sales.original_number, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.original_number) |nl2br }}
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="lb">{{ form_label(form_search_sales.from_date_sold) }}</div>
            {{ form_widget(form_search_sales.from_date_sold, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.from_date_sold) |nl2br }}
            {% for message in app.flashes('[date_sold]') %}
            {{ message }}
            {% endfor %}
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="lb">{{ form_label(form_search_sales.to_date_sold) }}</div>
            {{ form_widget(form_search_sales.to_date_sold, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.to_date_sold) |nl2br }}
            {% for message in app.flashes('[date_sold]') %}
            {{ message }}
            {% endfor %}
          </div>

        </div>
      </div>

      <div class="col-lg-12 col-xl-5 col-xxl-5">

        <div class="row justify-content-evenly">

          <div class="col-6">
            <div class="lb">{{ form_label(form_search_sales.id_part_name) }}</div>
            {{ form_widget(form_search_sales.id_part_name, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.id_part_name) |nl2br }}
          </div>

          <div class="col-3">
            <div class="lb">{{ form_label(form_search_sales.id_car_brand) }}</div>
            {{ form_widget(form_search_sales.id_car_brand, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.id_car_brand) |nl2br }}
          </div>

          <div class="col-3">
            <div class="lb">{{ form_label(form_search_sales.id_side) }}</div>
            {{ form_widget(form_search_sales.id_side, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.id_side) |nl2br }}
          </div>

        </div>

        <div class="row justify-content-evenly">

          <div class="col-6">
            <div class="lb">{{ form_label(form_search_sales.id_counterparty) }}</div>
            {{ form_widget(form_search_sales.id_counterparty, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.id_counterparty) |nl2br }}
          </div>

          <div class="col-3">
            <div class="lb">{{ form_label(form_search_sales.id_body) }}</div>
            {{ form_widget(form_search_sales.id_body, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.id_body) |nl2br }}
          </div>

          <div class="col-3">
            <div class="lb">{{ form_label(form_search_sales.id_axle) }}</div>
            {{ form_widget(form_search_sales.id_axle, { 'attr': {'class': 'w-100'} }) }}
            {{ form_errors(form_search_sales.id_axle) |nl2br }}
          </div>

        </div>

      </div>

    </div>

    <div class="row mt-3">
      <div class="col-12">
        {{ form_widget(form_search_sales.button_search_sales, { 'label': 'Поиск', 'attr': {'class': 'btn
        btn-primary w-100'}}) }}
      </div>
    </div>


  </div>
  {{ form_end(form_search_sales) }}

  {% for messages in app.flashes(['delete','Error','successfully']) %}
  {% for message in messages %}
  <h2 class="mt-3 ms-3">{{ message }}</h2>
  {% endfor %}
  {% endfor %}
  {% endblock form %}

  {% block table %}

  {#Таблица автодеталей#}

  <div class="container-fluid text-center pt-4 ">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped-columns table-sm align-middle 
        border-info shadow p-3 mb-5 bg-body-tertiary rounded">
        <thead class="table-secondary">

          {% if list_sales_auto_parts %}
          <tr>
            <th scope="col">№<br>детали</th>
            <th scope="col">№<br>оригинал</th>
            <th scope="col">Производитель</th>
            <th scope="col">Описание<br>детали</th>
            <th scope="col">Название<br>детали</th>
            <th scope="col">Марка</th>
            <th scope="col">Сторона</th>
            <th scope="col">Кузов</th>
            <th scope="col">Перед<br>Зад</th>
            <th scope="col">Дата</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Цена</th>
            <th scope="col">{{ ux_icon('bx:edit', {'height': '30', 'width': '30'}) }}</th>
            <th scope="col">{{ ux_icon('iconoir:delete-circle', {'height': '30', 'width': '30'}) }}</th>
          </tr>
          {% endif %}

        </thead>
        <tbody class="table-group-divider">
          {% for information in list_sales_auto_parts %}
          {% if information %}
          <tr>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getPartNumber() }}</td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails()
              .getIdOriginalNumber().getOriginalNumber()|default('') }}</td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getManufacturer()|default('') }}</td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getAdditionalDescriptions()|default('') }}
            </td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getIdPartName().getPartName()|default('') }}
            </td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getIdCarBrand().getCarBrand()|default('') }}
            </td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getIdSide().getSide()|default('') }}</td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getIdBody().getBody()|default('') }}</td>
            <td>{{ information.getIdAutoPartsWarehouse().getIdDetails().getIdAxle().getAxle()|default('') }}</td>
            <td>{{ information.getDateSold()|date("d-m-Y")|default('') }}</td>
            <td>{{ information.getQuantitySold()|default('') }}</td>
            <td>{{ (information.getPriceSold() / 100)|default('') }}</td>
            <form action="/editSalesAutoParts" name="edit_sales_auto_parts">

              <td><button class="btn btn-outline-secondary" type="submit" name="id" value="{{ information.getId() }}">{{
                  ux_icon('bx:edit', {'height': '30', 'width': '30'}) }}</button></td>

            </form>
            <form action="/deleteSalesAutoParts" name="delete_sales_auto_parts">

              <td><button class="btn btn-outline-danger" type="submit" name="id" value="{{ information.getId() }}">{{
                  ux_icon('iconoir:delete-circle', {'height': '30', 'width': '30'}) }}</button></td>

            </form>
          </tr>
          {% endif %}
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  {% endblock table %}