{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block logo %}{{title_logo}}{% endblock logo %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  {% endblock Responsive_behaviors %}

  {% block form %}

  {#Форма поиска постовщиков#}

  {{ form_start(form_search_counterparty, {'attr': {'class': 'row row-cols-12 text-center
  mt-2'}}) }}

  <div class="col-auto ms-3">
    <div class="lb">{{ form_label(form_search_counterparty.name_counterparty) }}</div>
    {{ form_widget(form_search_counterparty.name_counterparty) }}
    {{ form_errors(form_search_counterparty.name_counterparty) }}
  </div>

  <div class="row mt-3">
    <div class="col-2 d-grid gap-2 ms-3">
      {{ form_widget(form_search_counterparty.button_search_counterparty, { 'label': 'Поиск', 'attr': {'class':
      'button_search btn btn-primary'}}) }}
    </div>
  </div>

  {{ form_end(form_search_counterparty) }}

  {% for messages in app.flashes(['delete','Error']) %}
  {% for message in messages %}
    <h2 class="mt-3 ms-3">{{ message }}</h2>
  {% endfor %}
  {% endfor %}

  {% endblock form %}

  {% block table %}

  {#Таблица постовщиков#}

  <div class="container-fluid text-center pt-4 ">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped-columns table-sm align-middle 
        border-info shadow p-3 mb-5 bg-body-tertiary rounded">
        <thead class="table-secondary">

          {% if search_data %}
          <tr>
            <th scope="col">Поставщик</th>
            <th scope="col">E-mail</th>
            <th scope="col">Телефон менеджера</th>
            <th scope="col">Телефон доставки</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>
          </tr>
          {% endif %}

        </thead>
        <tbody class="table-group-divider">
          {% for information in search_data %}
          {% if information %}

          <tr>
            <td>{{ information.getNameCounterparty() }}</td>
            <td>{{ information.getMailCounterparty() }}</td>
            <td>{{ information.getManagerPhone() }}</td>
            <td>{{ information.getDeliveryPhone() }}</td>
            <form action="/editCounterparty" name="edit_counterparty">

              <td><button class="btn btn-outline-secondary" type="submit" name="id"
                  value="{{ information.getId() }}">Изменить</button></td>

            </form>
            <form action="/deleteCounterparty" name="delete_counterparty">

              <td><button class="btn btn-outline-danger" type="submit" name="id"
                  value="{{ information.getId() }}">Удалить</button></td>

            </form>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock table %}